/node_modules
/public/hot
/public/storage
/public/editor
/public/img
/public/race
/public/.htaccess

/public/bower_components
/storage/debugbar

/storage/*.key
/storage/debugbar
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
.env
.phpunit.result.cache
