/node_modules
/public/hot
/public/storage
/public/editor
/public/img
/public/race
/public/.htaccess

/public/bower_components

/nodejs/node_modules
/storage/debugbar

/storage/*.key
/storage/debugbar
/vendor
/.idea
/.vscode
/.vagrant
_ide_helper.php
.phpstorm.meta.php
/composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
.env
.phpunit.result.cache
package-lock.json
public/mix-manifest.json



