@import "~font-awesome/css/font-awesome.css";
#chatroom {
}

.chat_container {
  .chat_header{
    background: #2f6696;
    color: #fff;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 0 15px;
    border-right: solid 1px #32515f;
    position: relative;
    .popup {
      position: absolute;
      width: 30px;
      height: 30px;
      padding: 10px;
      right: 0;
      z-index: 6; 
    }
  }

  .chat_text_container {
    min-height: 530px;
    max-height: 530px;
    overflow-y: auto;
    border: solid 1px #1f1f1f;
    .ignoredUsers {
      background: rgba(0,0,0,0.2);
      padding: 10px;
      font-stretch: condensed;
      text-align: center;
      color: #b6b0b0;
      p{
        margin: 0;
        .show{
          color: #336199;
          cursor: pointer;
          &:hover{
            color:#0663d3
          }
        }
      }
    }
    .user_msg {
      padding: 5px 10px !important;
      border-bottom: solid 1px gray;
      p {
        margin: 0;
        padding: 5px 0;
        word-break: break-word;
      }
      .user_info {
        .username {
          color: #f1df87;
          font-weight: 600;
        }
        .user_id {
          a{
            color :#4890af;
            &:hover{
              color:#5584da
            }
          }          
        }
        .ignore_user {
          margin-left: 10px;
          cursor: pointer;
          color: #515050;
          &:hover {
            color:#2f6696
          }
        }
        .msg_timestamp {
          float: right;
          color: #DDAA77;
        }
      }
      .msg_text {
          overflow-wrap: break-word;
          color: #d8d8d8;
          p{
            a{
              color:#99a589;
              &:hover {
                color:#5083d0;
              }
            }
          }
      }
    }
  }

  .chat_footer {
    margin: 5px;
    p.guests_message {
      padding: 24px;
      text-align: center;
      color: #da4141;
      font-size: 16px;
      font-weight: bold;
    }

    .send {
      display: inline-block;
      width: 100%;
      padding: 5px 5px;
      position: relative;
      .extra {
        display: flex;
        background: white;
        padding: 5px 10px 5px;
        border: solid 1px #212529;
        p{
          width: 25px ;
          height: 25px;
          margin: 0;
          cursor: pointer;  
          background-image: url(/images/famfamfam.png?88b01ce…);
          background-repeat: no-repeat;
          width: 16px;
          height: 16px;
          padding: 8px;
          margin: auto;
          text-align: center;
          border: solid 1px #fff;
          &:hover {
            border: solid 1px #000000;
          }
        }      
        .pic {         
          background-position: 0 -416px;
        }
        .smile {         
          background-position: 0 -480px;    
        }
        .font_size {         
          background-position: 0 -160px; 
        }
        .font_color {         
          background-position: 0 -560px;
          margin-right: 10px;       
        }
        .link {
          background-position: 0 -16px; 
        }
        .img{
          background: url(/images/icons/picture.png) no-repeat center center;
          background-size: 20px;   
          margin-right: 10px;
        }
        .meme {         
          background-image: inherit;
          text-align: center;
          padding: 0;
          font-size: 14px;
          color: #484848;
          font-weight: bold;         
        }
        .bold {         
          background-position: 0 -624px;   
        }
        .italic {         
          background-position: 0 -384px; 
        }
        .underline {         
          background-position: 0 -48px;
          margin-right: 10px;
        }
      }
      textarea {
        width: 100%;
        font-size: 12px;
        resize: none;
        background: #3e3e3e;
        border: solid 1px #1b1a1a;
        color: white;
      }
      i {
        font-size: 18px;
        color: #1660a0;
        position: absolute;
        right: 12px;
        top: 16px;
      }      
    }
    
  }
}


.vue-window-modal{
  .vue-window-modal-header{
    background-color: #2f6696 !important;
    h2 {
      display: inline-block;
      position: relative;
      top: 3px;
      color: #fff;
    }
  }

  .chat_container {
    background: #222222;
  }
} 

