/**-------------------------------*/
/**-------------Fonts------------------*/
/**-------------------------------*/
@font-face {
  font-family: 'Philosopher-Regular';
  src: url('../fonts/philosopher/Philosopher-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Philosopher-Bold';
  src: url('../fonts/philosopher/Philosopher-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Ubuntu-Light';
  src: url('../fonts/ubuntu/Ubuntu-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('../fonts/ubuntu/Ubuntu-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('../fonts/ubuntu/Ubuntu-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('../fonts/ubuntu/Ubuntu-Bold.ttf') format('truetype');
}
/**---------------------*/
/**------Base style-----------*/
/**---------------------*/
a {
  outline: none;
}
a:hover {
  text-decoration: none;
}
h1, h2, h3 {
  font-weight: 400;
  font-family: "Philosopher-Regular", sans-serif;
}
h1 {
  font-size: 40px;
  margin: 0;
  text-transform: uppercase;
}
h2 {
  font-size: 36px;
  text-transform: uppercase;
}
h3 {
  font-size: 30px;
}
img {
  max-width: 100%;
}
.form-control {
  height: 2rem;
}
.btn {
  padding: .2rem .75rem;
}
/*helpers*/
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.margin-bottom-15 {
  margin-bottom: 15px !important;
}
.margin-bottom-20 {
  margin-bottom: 20px !important;
}
.margin-bottom-30 {
  margin-bottom: 30px !important;
}
.margin-bottom-40 {
  margin-bottom: 40px !important;
}
.margin-bottom-60 {
  margin-bottom: 60px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-top-20 {
  margin-top: 20px !important;
}
.margin-top-10 {
  margin-top: 10px !important;
}
.margin-top-0 {
  margin-top: 0 !important;
}
.margin-right-15 {
  margin-right: 15px;
}
.remove-padding {
  margin-right: -15px;
  margin-left: -15px;
}
.display-block {
  display: block;
}
.positive {
  color: green;
}
.negative {
  color: red;
}
.error {
  color: red;
}
.success {
  color: green;
}
textarea.error,
input.error {
  border: 1px solid red;
}
.padding-top-20 {
  padding-top: 20px !important;
}
.padding-top-30 {
  padding-top: 30px;
}
.padding-bottom-30 {
  padding-bottom: 30px !important;
}
.padding-bottom-40 {
  padding-bottom: 40px;
}
.padding-bottom-60 {
  padding-bottom: 60px;
}
.padding-left-35 {
  padding-left: 35px;
}
.padding-left-20 {
  padding-left: 20px;
}
.green-color {
  color: green;
}
.red-color {
  color: red;
}
.border-gray {
  border: 1px solid #717171;
}
/*************GENERAL PARTS********* */
html, body {
  height: 100%;
}
body {
  font-family: "Ubuntu-Regular", sans-serif;
  font-size: 16px;
  color: #303030;
  font-weight: 300;
  background: #fafafa;
}
/****Breadcrumb******/
.breadcrumb-wrapper {
  justify-content: center;
}
.breadcrumb {
  background-color: transparent;
  padding: .75rem 0;
  font-size: 12px;
  margin-bottom: 40px;
}
.breadcrumb a {
  color: #426995;
}
.breadcrumb a:hover {
  text-decoration: underline;
}
.back-home a {
  font-size: 12px;
  margin-bottom: 50px;
  color: #426995;
  display: inline-block;
  margin-right: 20px;
  text-decoration: underline;
}
.back-home a:hover {
  text-decoration: underline;
}
.page {
  border-left: 1px solid #717171;
  border-right: 1px solid #717171;
}
/**** END Breadcrumb******/

/*****Modal Windows*****/

/*****END Modal Windows*****/

/*************END GENERAL PARTS********* */
/**---------------------*/
/**------HEADER---------*/
/**---------------------*/
.header {
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  background: url("../images/bg_reps.gif") repeat-x;
  position: relative;
}
.header-logo {
  height: 100%;
}
.header-logo-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.login-form {

}
.submit-btn{
  margin-bottom: 5px;
}
.login-form .form-group:last-of-type{
  margin-bottom: 10px;
}
.admin-panel-wrapper{
  margin-bottom: 5px;
}
.hello{
  margin-bottom: 0;
}
.header-social a {
  color: #17a2b8;
  font-size: 24px;
}
.register-link {
  color: #17a2b8;
}
.register-link:hover {
  color: #17a2b8;
}
.header-profile {
  text-align: center;
  color: #fff;
  position: relative;
}
.header-profile .profile-link {
  font-size: 12px;
  display: block;
  color: #000;
  padding: 5px 10px;
}
.header-profile .profile-link:hover {
  background: #efefef;
}
.profile-avatar-header {
  width: 50px;
}
.user-menu-hover {
  z-index: 10;
  position: relative;
}
.user-menu-hover:hover .user-menu-wrapper {
  display: block;
}
.user-menu-wrapper {
  display: none;
  position: absolute;
  background: #fff;
  top: 30px;
  left: 15px;
  border: 1px solid #efefef;
  border-radius: 4px;
  text-align: left;
}
.user-menu-wrapper > div {
  display: flex;
  flex-direction: column;
}
/**search form*/
.search-form{
  justify-content: right;
}
.search-form .search-input{
  width: 50%;
}
.search-select{
  margin-right: 5px;
}
/**---------------------*/
/**------NAVIGATION-----------*/
/**---------------------*/
.navbar-nav{
  font-size: 14px;
}
.navbar-nav ul{
  padding-left: 15px;
}
.nav-link{
  padding: 4px 2px;
}
.nav-wrapper{
  padding: 10px;
  background: #eaebec;
  width: 100%;
  border: 1px solid #717171;
  margin-bottom: 5px;
}
.navbar-nav .nav-link{
  color: #222;
}
/**---------------------*/
/**------HOME PAGE-----------*/
/**---------------------*/

/**Content - CENTER*/
.content-center {
  min-height: 100vh;
  padding-top: 10px;
}
.content-center form {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.content-center-main-wrapper {
}
.content-center-main {
  border: 1px solid #717171;
}
.home-widget {
  font-size: 12px;
  border: 1px solid #717171;
}
.home-widget a {
  display: block;
  width: 100px;
  margin-right: 15px;
}
a.read-more {
  text-align: right;
  padding-right: 15px;
  font-size: 12px;
  display: block;
}
.home-widget img {
  max-width: 100%;
}
.home-widget-inner-row.gosu-replays {
  padding: 5px;
  display: flex;
}
.forum-section-row a {
  display: block;
  padding: 2px 5px;
  background: #efefef;
  color: #000;
}
.topic-edit{
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}
.topic-edit i{
  margin-right: 5px;
}
.forum-section-row a:hover {
  text-decoration: underline;
}
.forum-section-row {
  font-size: 14px;
  margin-bottom: 5px;
  display: flex;
}
.forum-section-topics{

}
.forum-section-description{
  background: #fff;
}
.forum-wrapper {
  border: 1px solid #717171;
  margin-bottom: 10px;
  font-size: 12px;
  overflow: hidden;
  padding-bottom: 5px;
}
.forum-wrapper > a{
  margin-right: 5px;
}
.forum-title {
  background: #d8dce0;
  padding: 5px;
}
.forum-title a{
  color: #222;
}
.forum-extract {
  padding: 5px;
}
.forum-image {
  text-align: center;
  margin-bottom: 5px;
  max-width: 270px;
  margin-right: 5px;
  float: left;
  padding: 5px 0 5px 5px;
}
.forum-image img {
  margin: 0 auto;
}
.top-forum-wrapper {
  align-items: center;
  margin-bottom: 15px;
  border: 1px solid #717171;
}
.top-forum-wrapper img {
}
.top-forum-title {
  background: #d8dce0;
  padding: 5px;
  width: 100%;
}
.top-forum-title a{
  color: #222;
}
.top-forum-extract {
  font-size: 12px;
  padding-top: 5px;
}
.top-forum-small-wrapper {
  margin-bottom: 20px;
  padding: 5px 0;
}
.top-forum-small {
  position: relative;
  border: 1px solid #717171;
  height: 120px;
  cursor: pointer;
  display: block;
}
.top-forum-small img {
  max-width: 100%;
  width: 100%;

}
.top-forum-title-small {
  text-align: center;
  background: #efefef;
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 100%;
  color: #222;
  font-size: 12px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.top-forum-img-wrapper{
  padding-right: 10px;
}
/**---------------------*/
/**---------------------*/
/**------ REGISTRATION PAGE -----------*/
/**---------------------*/
.register-form {
  padding: 30px;
}
/**---------------------*/
/**------ PROFILE PAGE -----------*/
/**---------------------*/
.page-title {
  color: #fff;
  background: #717171;
  padding: 4px;
  font-size: 14px;
}
.profile-avatar {
  width: 300px;
}
.profile-avatar-row {
  align-items: center;
}
.profile-page .row {
  border-bottom: 1px solid #eee;
  padding-top: 5px;
  padding-bottom: 5px;
}
.sidebar-inner-profile {
}
.profile-sidebar-widget {
  border: 1px solid #717171;
}
.friend-list-wrapper {
  padding: 5px 10px;
  font-size: 12px;
}
.sidebar-inner-profile .profile-link {
  background: #717171;
  color: #fff;
  margin-bottom: 5px;
  display: block;
  text-align: center;
}
.sidebar-inner-profile .profile-link:hover {
  color: #fff;
}
.user-profile-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #717171;
  margin-top: 20px;
}
/**---------------------*/
/**------ FOOTER -----------*/
/**---------------------*/
.footer {
  border-left: 1px solid #717171;
  border-right: 1px solid #717171;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-widget {
  border: 1px solid #717171;
  min-height: 80px;
}
.footer-widget-title {
  background: #717171;
  font-size: 14px;
  color: #fff;
  padding-left: 5px;
}
.footer-widget-content {
  padding: 5px;
}
.footer-widget-content.birthday {
  display: flex;
  font-size: 12px;
  flex-wrap: wrap;
}
.footer-widget-content.birthday a {
  margin-right: 3px;
}
/**---------------------*/
/**------ FORUM SECTION TOPIC LIST PAGE -----------*/
/**---------------------*/
.section-topic-date {
  float: right;
  background: #efefef;
}
.separator {
  margin-right: 5px;
  margin-left: 5px;
  color: #717171;
}
.no-logged-user-message {
  padding: 5px 15px;
  border: 1px solid #717171;
}
/**---------------------*/
/**------ LEFT SIDEBAR -----------*/
/**---------------------*/
.sidebar-left {
  padding-top: 10px;
}
.sidebar-widget {
  border: 1px solid #717171;
  margin-bottom: 5px;
  font-size: 12px;
  position: relative;
  min-height: 60px;
}
.sidebar-widget-title {
  color: #fff;
  background: #717171;
  padding: 4px;
  align-items: center;
  justify-content: center;
}
.sidebar-widget-title a {
  color: #fff;
}
.sidebar-widget-content {
  display: flex;
  flex-direction: column;
  background: #eaebec;
}
.sidebar-widget-content .name {
  color: #222;
}
.sidebar-widget.random-image img {
  border: 1px solid #efefef;
  max-width: 60%;
  margin: 2px auto;
}
.sidebar-widget.random-image a {
  text-align: center;
}
.sidebar-widget span.flag-icon {
  font-size: 16px;
}
.sidebar-widget span {
  min-width: 30px;
  display: inline-block;
}
.sidebar-widget-subtitle {
  background: #d8dce0;
  color: #222;
  padding: 4px;
  font-size: 12px;
  text-align: center;
  width: 100%;
}
.sidebar-widget-no-results {
  margin-top: 15px;
  margin-bottom: 40px;
  text-align: center;
}
.sidebar-widget .form-group {
  display: flex;
  align-items: center;
}
.sidebar-widget .form-group label {
  margin-bottom: 0;
  margin-left: 10px;
  outline: none;
}
.sidebar-widget .form-group input {
  outline: none;
}
.sidebar-widget .view-results {
  display: flex;
  outline: none;
  align-items: center;
  justify-content: center;
  color: #222;
  padding: 5px;
  width: 100%;
  background: lightgray;
}
.sidebar-widget .view-results:hover {
  text-decoration: underline;
}
.sidebar-widget-forum-section {
  margin-bottom: 20px;
  background: #eaebec;
}
.forum-section{
  font-size: 12px;
  margin-bottom: 15px;
  border: 1px solid #717171;
}
.forum-section div{
  padding-left: 5px;
}
.forum-section-title {
  background: #d8dce0;
  font-weight: bold;
  padding: 2px 5px;
  display: block;
  color: #000;
}
.forum-section-title a {
  color: #000;
}
.topic-wrapper p {
  margin-bottom: 0;
}
.topic-wrapper p a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #303030;
  font-size: 11px;
}
.forum-section-content {
  padding: 2px 5px;
}
.forum-section-content .topic-wrapper {
  border: none;
}
.sidebar-widget-content .random-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-widget-content .random-banner img {
}
/**---------------------*/
/**------ RIGHT SIDEBAR ----------*/
/**---------------------*/
.sidebar-right {
  padding-top: 10px;
}
.sidebar-widget .replay {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.sidebar-widget .replays-wrapper {
}
.vote-button {
  margin: 5px auto;
  display: block;
  font-size: 12px;
  padding: 4px 20px;
}
.vote-response {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 5px;
}
.view-results-response {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.view-results-response form {
  width: 100%;
  padding: 0 5px;
}
.vote-response span {
  min-width: 5px;
}
/**---------------------*/
/**------USER IGNORED LIST PAGE ----------*/
/**---------------------*/
.ignored-user-header {
  border-right: 1px solid #17a2b8;
  font-size: 14px;
  text-align: center;
}
.ignored-user {
  margin-bottom: 10px;
  margin-top: 10px;
  border-top: 1px solid #17a2b8;
  font-size: 14px;
  text-align: center;
}
.ignored-user div {
  border-right: 1px solid #17a2b8;
}
.ignored-user div:last-of-type {
  border-right: none;
}
/**---------------------*/
/**------SINGLE REPLAY PAGE ----------*/
box-header
  /**---------------------*/
.map-wrapper {
  padding-top: 20px;
}
.comments-wrapper {
  border: 1px solid #717171;
  margin-bottom: 20px;
}
.comment-title {
  display: flex;
  align-items: center;
  justify-content: start;
  background: #cfcfcf;
}
.comment-title span {
  margin-right: 10px;
}
#vote-modal .positive{
  color: green;
}
#vote-modal .negative{
  color: red;
}
#vote-modal .positive,
#vote-modal .negative{
  display: none;
}
#vote-modal .positive.active,
#vote-modal .negative.active{
  display: block;
}
#vote-form label{
  display: flex;
  align-items: center;
}
#vote-form label div{
  margin-left: 10px;
}
.comment-form {
  padding: 0 15px;
}
.comment-content {
  background: #fff;
  padding: 5px 15px;
}
.comment-content a{
  color: #000;
}
.add-comment-form-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}
.evolution-replay {
  border: 1px solid #717171;
}
.replay-list-wrapper {
  border: 1px solid #717171;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.evolution-replay-form-content {
  justify-content: center;
  align-items: center;
  display: flex;
}
.evolution-replay-form-content div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.evolution-replay-form-content label {
  margin-bottom: 0;
}
.vote-replay {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.vote-replay a {
  margin-right: 10px;
}
.vote-replay-up {
  color: green;
}
.vote-replay-down {
  color: red;
}
.download-btn-wrapper {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.download-btn {
}
.edit-btn-wrapper {
  position: absolute;
  bottom: 15px;
}
.edit-btn {
  margin-right: 5px;
}
/**---------------------*/
/**------REPLAYS PAGE ----------*/
/**---------------------*/
.page-replays-subtitle{
  background: #eee;
}
.page-replay-content > div {
  background: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}
.page-replays-subtitle > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.page-replays-subtitle > div p {
  margin-bottom: 0;
}
.page-replay-title > div {
  background: #cfcfcf;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-replay-title > div > div span {
  margin-right: 15px;
}
.sidebar-inner-widget {
  border: 1px solid #717171;
  font-size: 12px;
}
.sidebar-inner-widget .form-control {
  font-size: 12px;
}
.sidebar-inner-widget label {
  margin-bottom: 0;
}
.sidebar-inner-widget-title {
  background: #717171;
  padding: 5px;
  color: #fff;
}
.sidebar-inner-widget-content {
  padding: 0 5px;
}
.pagination {
  margin: 0 auto;
}
.sidebar-inner-widget-content form {
  padding-bottom: 0;
}
/**---------------------*/
/**------USER REPLAY PAGE ----------*/
/**---------------------*/
.box-header {
  margin-top: 10px;
}
.box-header label {
  font-weight: bold;
  margin-bottom: 0;
}
.create-file label.box-title {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
}
/**---------------------*/
/**------TOPIC PAGE ----------*/
/**---------------------*/
.topic-comments-wrapper {
  border: 1px solid #717171;
  margin-top: 20px;
}
.topic-wrapper {
  border: 1px solid #717171;
}
.topic-title {
}
.topic-content table{
  margin: 0 auto;
}
.topic-content table tr td{
  padding: 0 5px;
}
.topic-comments {
}
.topic-author {
}
.topic-info {
  padding-left: 10px;
  background: #efefef;
}
.topic-content-wrapper {
  padding: 5px;
}
div.transbox img{
  margin: 0 auto;
}
.spoilmain{

}
.spoilmain.active{
  display: block !important;
}
/**---------------------*/
/**------ Gallery page ----*/
/**---------------------*/
.left-inner-gallery-sidebar {
  padding-right: 0;
  border-left: 1px solid #717171;
  border-top: 1px solid #717171;
  border-bottom: 1px solid #717171;
  display: flex;
  flex-direction: column;
  justify-items: left;
}
.gallery-links {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
.gallery-links a {
}
.gallery-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gallery-img-wrapper {
  text-align: center;
  margin-bottom: 20px;
}
.gallery-img-wrapper img {
  margin: 0 auto;
}
.comments-block-title {
  background: #717171;
  color: #fff;
  padding-left: 15px;
}
.comment-navigation {
  margin: 20px auto;
}
.comment-navigation ul {
  justify-content: center;
  align-items: center;
}
/**---------------------*/
/**------ User Gallery page ----*/
/**---------------------**/
.user-gallery-img-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.img-wrapper {
  width: 25%;
}
/**---------------------*/
/**------ News Page ----*/
/**---------------------*/
.news-wrapper {
  margin-bottom: 5px;
}
.news-wrapper > div {
  padding: 5px;
}
.news-title {
  background: #efefef;
}
.news-title a {
  color: #000;
}
.read-more {
  text-align: right;
}
.news-content {
}
.news-preview-img {
}
/**---------------------*/
/**------ User Reputation history Page ----*/
/**---------------------*/
.reputation-title {
  background: #efefef;
}
.reputation-comment-wrapper {
  background: #fff;
  min-height: 50px;
  align-items: center;
  display: flex;
}
.date i {
  margin-right: 10px;
  margin-top: 10px;
}
.info-wrapper{
  padding-top: 10px;
  padding-bottom: 10px;
}
/**---------------------*/
/**------ User Topics Page ----*/
/**---------------------*/
.create-top-btn {
  margin-bottom: 20px;
  margin-top: 20px;
}
/**---------------------*/
/**------ User Messages Page ----*/
/**---------------------*/
.direct-chat-text {
  border-radius: 5px;
  position: relative;
  padding: 5px 10px;
  background: #d2d6de;
  border: 1px solid #d2d6de;
  margin: 5px 0 0 50px;
  color: #444;
}
.direct-chat-img {
  border-radius: 50%;
  float: left;
  width: 40px;
  height: 40px;
}
.direct-chat-info {
  display: block;
  margin-bottom: 2px;
  font-size: 12px;
}
.direct-chat-timestamp {
  color: #999;
}
.users-list {
  flex-direction: column;
}
.users-list > li img {
  width: auto;
  max-width: 150px;
  height: 60px;
  border-radius: 0;
}
.list-unstyled, .chart-legend, .contacts-list, .users-list, .mailbox-attachments {
  list-style: none;
  margin: 0;
  padding: 0;
}
.users-list-date {
  color: #999;
  font-size: 12px;
}
.users-list-name, .users-list-date {
  display: block;
}
.users-list-name {
  font-weight: 600;
  color: #444;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.users-list-name, .users-list-date {
  display: block;
}
.user_message_list li {
  width: 100%;
}
.user_message_list {
  display: flex;
  flex-direction: column;
}
.users-list > li {
  float: left;
  padding: 10px;
  text-align: center;
}
.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  line-height: 1;
}
.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}
.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}
.direct-chat-messages {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  padding: 10px;
  height: 250px;
  overflow: auto;
}
.direct-chat-messages, .direct-chat-contacts {
  -webkit-transition: -webkit-transform .5s ease-in-out;
  -moz-transition: -moz-transform .5s ease-in-out;
  -o-transition: -o-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
}
.box.box-primary {
  border-top-color: #3c8dbc;
}
.box {
  position: relative;
  border-radius: 3px;
  background: #fff;
  border-top: 3px solid #d2d6de;
  border-top-color: rgb(210, 214, 222);
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.direct-chat-primary .right > .direct-chat-text {
  background: #3c8dbc;
  border-color: #3c8dbc;
  color: #fff;
}
.right .direct-chat-img {
  float: right;
}
.direct-chat-img {
  border-radius: 50%;
  float: left;
  width: 40px;
  height: 40px;
}
.direct-chat-timestamp {
  color: #999;
}
.direct-chat-info {
  display: block;
  margin-bottom: 2px;
  font-size: 12px;
}
.direct-chat-text::before {
  border-width: 6px;
  margin-top: -6px;
}
.direct-chat-text::after, .direct-chat-text::before {
  position: absolute;
  right: 100%;
  top: 15px;
  border: solid transparent;
  border-top-width: medium;
  border-right-color: transparent;
  border-right-width: medium;
  border-bottom-width: medium;
  border-left-width: medium;
  border-right-color: #d2d6de;
  content: ' ';
  height: 0;
  width: 0;
  pointer-events: none;
}
.direct-chat-msg {
  margin-bottom: 10px;
}
.direct-chat-msg, .direct-chat-text {
  display: block;
}
.direct-chat-name {
  font-weight: 600;
}
.pull-right {
  float: right !important;
}
.direct-chat-primary .right > .direct-chat-text::after, .direct-chat-primary .right > .direct-chat-text::before {
  border-left-color: #3c8dbc;
}
.right .direct-chat-text::after, .right .direct-chat-text::before {
  right: auto;
  left: 100.4%;
  border-right-color: transparent;
  border-left-color: #d2d6de;
}
.direct-chat-text::after {
  border-width: 5px;
  margin-top: -5px;
}
.direct-chat-text::after, .direct-chat-text::before {
  position: absolute;
  right: 100.3%;
  top: 15px;
  border: solid transparent;
  border-top-width: medium;
  border-right-color: transparent;
  border-right-width: medium;
  border-bottom-width: medium;
  border-left-color: transparent;
  border-left-width: medium;
  border-right-color: #d2d6de;
  content: ' ';
  height: 0;
  width: 0;
  pointer-events: none;
}
::after, ::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.direct-chat-primary .right > .direct-chat-text {
  color: #fff;
}
.direct-chat-text {
  color: #444;
}
.right .direct-chat-text {
  margin-right: 50px;
  margin-left: 0;
}
.input-group {
  padding: 5px;
}
.text-red{
  color: red;
}
.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
  background-color: #dd4b39 !important;
}
.bg-red, .bg-yellow, .bg-aqua, .bg-blue, .bg-light-blue, .bg-green, .bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange, .bg-fuchsia, .bg-purple, .bg-maroon, .bg-black, .bg-red-active, .bg-yellow-active, .bg-aqua-active, .bg-blue-active, .bg-light-blue-active, .bg-green-active, .bg-navy-active, .bg-teal-active, .bg-olive-active, .bg-lime-active, .bg-orange-active, .bg-fuchsia-active, .bg-purple-active, .bg-maroon-active, .bg-black-active, .callout.callout-danger, .callout.callout-warning, .callout.callout-info, .callout.callout-success, .alert-success, .alert-danger, .alert-error, .alert-warning, .alert-info, .label-danger, .label-info, .label-warning, .label-primary, .label-success, .modal-primary .modal-body, .modal-primary .modal-header, .modal-primary .modal-footer, .modal-warning .modal-body, .modal-warning .modal-header, .modal-warning .modal-footer, .modal-info .modal-body, .modal-info .modal-header, .modal-info .modal-footer, .modal-success .modal-body, .modal-success .modal-header, .modal-success .modal-footer, .modal-danger .modal-body, .modal-danger .modal-header, .modal-danger .modal-footer {
  color: #fff !important;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}
.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}
.box-header > .box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}