/* Large Devices, Wide Screens */
@media only screen and (min-width: 768px) {
    
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1415px) {

}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px) {

}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px) {

}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}
@media only screen and (max-width: 768px) {
    .stream-section {
        min-height: 420px;
    }
    .stream-section .stream-area {
        display: inline-block;
        overflow: hidden;
    }
    .stream-section .stream-area .stream-message-wrapper {
        float: right;
        display: block;
        width: 300px !important;
        position: absolute;
        
    }
    .stream-section .stream-area .stream-wrapper {
        width: 100% !important;
        float: left;
    }
    .stream-section .streamlist {        
        height: 100%;
    }
    .stream-section .stream-list-wrapper .streams_list {
        margin: 10px 0;
        max-height: 280px;
        overflow-y: auto;
        height: 280px;
    }

    .stream-section .stream-area.chat_open .stream-message-wrapper{       
        left: 50%;
        top: 53%;
        z-index: 100000000000;
        transform: translate(-50%, -50%);
        position: fixed;
        max-height: 670px;
    }
    .stream-section .stream-area.chat_close .stream-message-wrapper{       
        left: -300px;
        z-index: 100000000000;
    }
    
}
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {

}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 728px) {

}
@media only screen and (width: 667px) {

}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 640px) {

}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 610px) {

}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .stream-section {
        min-height: 320px;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 440px) {

}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 420px) {

}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 375px) {

}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 360px) {

}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 330px) {

}