/* Large Devices, Wide Screens */
@media only screen and (min-width: 768px)  and (max-width: 992px){
    .widget-footer a {
        font-size: 10px;
    }

    .widget-new-user {
        margin-top: 10px;
    }

    .widget-new-user a {
        display: initial;
    }

    .widget-new-user a .user-mini-icons-wrapper {
        float: right;
    }

    .widget-wrapper .widget-new-user a > span:last-of-type {
        display: block;
        text-align: center;
        width: 100%;
        max-width: initial;
    }

    .password-repairing {
        margin-left: -14px;
    }
}
@media only screen and (min-width: 768px) {
    .logged-user {
        height: 230px;
    }
    .no-logged-user {
        height: 230px;
    }
    .login-form .login-wrapper {
        padding-right: 0;
    }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    .widget-footer a {
        font-size: inherit;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1415px) {

}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px) {

}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px) {

}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}
@media only screen and (max-width: 768px) {
    .logo-wrapper a {
        margin: 26px 0;
    }
    .logged-user {
        padding-bottom: 10px;
        height: 133px;
    }
    .stream-section {
        min-height: 420px;
    }
    .stream-section .stream-area {
        display: inline-block;
        overflow: hidden;
    }
    .stream-section .stream-area .stream-message-wrapper {
        float: right;
        display: block;
        width: 300px !important;
        position: absolute;

    }
    .stream-section .stream-area .stream-wrapper {
        width: 100% !important;
        float: left;
    }
    .stream-section .streamlist {
        height: 100%;
    }
    .stream-section .stream-list-wrapper .streams_list {
        margin: 10px 0;
        max-height: 280px;
        overflow-y: auto;
        height: 280px;
    }

    .stream-section .stream-area.chat_open .stream-message-wrapper{
        left: 50%;
        top: 53%;
        z-index: 100000000000;
        transform: translate(-50%, -50%);
        position: fixed;
        max-height: 670px;
    }
    .stream-section .stream-area.chat_close .stream-message-wrapper{
        left: -300px;
        z-index: 100000000000;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
    .header-wrapper .admin-button {
        display: none;
    }
    .no-logged-user {
        height: 133px;
    }
    .registration-link {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .login-form .remember input {
        margin-top: 0 !important;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 728px) {

}
@media only screen and (width: 667px) {

}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 640px) {

}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 610px) {

}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .stream-section {
        min-height: 320px;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 440px) {
    .search-form-wrapper .form-group:first-of-type {
        margin-bottom: 0;
        width: 100%;
    }
    .search-form-wrapper .form-group:last-of-type {
        margin-bottom: 8px;
        width: 100%;
        margin-right: 5px;
    }
    .password-repairing {
        float: right;
        margin-top: -16px;
    }
    .registration-link {
        margin-bottom: 5px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 420px) {

}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 375px) {

}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 360px) {

}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 330px) {

}
@media only screen and (min-width: 441px) and (max-width: 575px) {
    .registration-link {
        margin-top: -34px;
        margin-bottom: 5px;
    }
}
@media only screen and (max-width: 575px) {
    .login-form .login-wrapper {
        padding-right: 0;
    }
    .section-header .row-header-wrapper {
        height: 230px;
    }
}
